
//@import 'color-themes/default.scss';
//@import 'color-themes/dark.scss';
@import 'color-themes/BlumeIdeal.scss';


#calender-section
{   
    color: $font_color;
    button {border-radius: unset;}

    #calendar-alert-success {display: none;}


    //* ============= card header ============= */
    .card-header {
        background-color: $color_primary;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        button#previous {
            border-color: $akzent1;
            color: $akzent1;
            background-color: transparent;
            &:hover {background-color: $akzent1; color: white;}
        }

        #monthAndYear {
            display: block;
            font-size: 1.75rem;
        }

        button#next {
            border-color: $akzent1;
            color: $akzent1;
            &:hover {background-color: $akzent1; color: white;}
        }
    }   

    //* ============= card body ============= */
    .card-body {
        padding: 0;
        background-color: white;

        table {
            margin-bottom: 0;
        }

        #calendar thead {
            text-align: center;
            background-color: $akzent2;
        }

        .cell {
            cursor: pointer;
            text-align: center;
            background-color: $color_secondary;
            color:black;
            &:hover {
                background-color: $akzent1 !important;
                color: white; 
            }
            &.empty {
                background-color: grey !important;
                cursor:default;
                 &:hover {background-color: grey !important; color:black;}
            }
            &.currentday {
                background-color: $empty_cell;
                border: 3px solid $akzent1;
            }
            &.selected {
                background-color: $akzent1; color:white;
            }
            &.notpossible {
                background-color: $empty_cell; 
                cursor:default;
                &:hover {background-color: $empty_cell !important; color:black !important;}
            }
        }
    }

    //* ============= card footer ============= */
    .card-footer {
        background-color: $color_primary;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        span {font-size: 20px;}
        button {background-color: $akzent1; color:white;}
        #choosen_date {
            color: $akzent1 !important;
        }
    }
}



