
//@import 'color-themes/default.scss';
//@import 'color-themes/dark.scss';
@import 'color-themes/BlumeIdeal.scss';


#calender-section
{   
    color: $font_color;
    button {border-radius: unset;}

    //* ============= card header ============= */
    .card-header {
        background-color: $color_primary;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        button#previous {
            border-color: $akzent1;
            color: $akzent1;
            background-color: transparent;
            &:hover {background-color: $akzent1; color: white;}
        }

        #monthAndYear {
            display: block;
            font-size: 1.75rem;
        }

        button#next {
            border-color: $akzent1;
            color: $akzent1;
            &:hover {background-color: $akzent1; color: white;}
        }
    }   

    //* ============= card body ============= */
    .card-body {
        padding: 0;
        background-color: $color_primary;
        #calendar thead {
            text-align: center;
            background-color: $akzent2;
        }

        .cell {
            cursor: pointer;
            text-align: center;
            background-color: $color_secondary;
            &:hover {background-color: $akzent1;color: white;}
            &.empty {background-color: $empty_cell !important; cursor:not-allowed ;}
            &.currentday {border: 2px solid $akzent1 !important;}
            &.selected {background-color: $akzent1; color:white;}
        }
    }

    //* ============= card footer ============= */
    .card-footer {
        background-color: $color_primary;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {font-size: 20px !important;}
        button {background-color: $akzent1; color:white;}
        #choosen_date {
            color: $akzent1 !important;
        }
    }
}



