//? ===== Dark Calendar color Settings ===== */
$font_color: #ffffffff !important;
$color_primary: #1c1c1eff; 
$color_secondary: #2c2c2eff;
$empty_cell: #1c1c1eff;
$akzent1: #0984ffff;
$akzent2: #0984ffff;